.main-font {
  font-family: "Poppins", sans-serif;
}

/* shared style jodi dorkar hoe  */
.display-flex {
  display: flex;
}

.text-dark {
  color: #252525;
}

.text-orange {
  color: #e95a08;
}
.text-clay{
  color: #8987A1;
}
/* header stlye  */

/* nav releted style dorkar porle  */
.navbar {
  justify-content: space-between;.
  /* align-items: center; */
  margin-right: 150px;
  margin-top: 50px;
}

.logo {
  margin: 0 120px;
}

.nav-item {
  list-style: none;
  margin-right: 48px;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
  color: #252525;
}

.title{
  font-size: 55px;
font-weight: bold;
margin-left: 135px;
margin-top: 250px;
}

.description{
  font-size: 18px;
margin-left: 135px;
  margin-top: -23px;
}

/* .hero-image{
margin-left: 1100px;
margin-top: -300px;
} */
.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-image{
  margin-top:200px;
  margin-right: 150px;
}