.main-font {
  font-family: "Poppins", sans-serif;
}

/* shared style jodi dorkar hoe  */
.display-flex {
  display: flex;
}
/* center */
.center{
  justify-items: center;
}

.text-dark {
  color: #252525;
}
.main-color{
  background-color: #F5F8FF;
}
.text-orange {
  color: #e95a08;
}
.text-clay{
  color: #8987A1;
}
/* header stlye  */

/* nav releted style dorkar porle  */
.navbar {
  justify-content: space-between;.
  /* align-items: center; */
  margin-right: 150px;
  margin-top: 50px;
}

.logo {
  margin: 0 120px;
}

.nav-item {
  list-style: none;
  margin-right: 48px;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
  color: #252525;
}

.title{
  font-size: 55px;
font-weight: bold;
/* margin-left: 135px;
margin-top: 250px; */
}

.description{
  font-size: 18px;
/* margin-left: 135px;
  margin-top: -23px; */
}

/* .hero-image{
margin-left: 1100px;
margin-top: -300px;
} */
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:5%;
}
/* .hero-image{
  margin-top:200px;
  margin-right: 150px;
  
} */

.Plants{
  text-align: center;
  margin-top: 120px;
  /* font-size: 15px; */
}

.h{
  font-size: 50px;
}

.p{
  font-size: 18px;
  color: #6B7280;
}
.grid-product{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 50px;
justify-items: space-between;
margin-top: 50px;
      max-width: 1200px;
margin: auto;
}
.Lily{
  margin-top: 30px;
  text-align: center;
  font-size: 22px;
  margin-bottom: 5px;
}
.USD{
  justify-content: center;
  font-size: 22px;
}

.btn-primary{
  padding: 15px  90px;
  border-style: none;
  color: white;
  background-color: #e95a08;
  margin-top:30px;
  border-radius: 3px;
}
.btn-primary:hover{
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.24),0 12px 50px 0 rgba(0,0,0,0.19);
}

.main-love{
  justify-content: center;
  gap: 6%;
  display: flex;
  margin-top: 210px ;
}

.flower{
  font-size: 45px;
}

.main-love li{
  margin-bottom: 15px;
  color: #6B7280;
}

.trust{
  width: 250px;
  position:absolute ;
  margin-top: -100px;
margin-left: -150px;
}

.Latest{
  margin-top: 133px;
  text-align: center;
  font-size: 22px;
  margin-bottom: 100px;
}

.golap, .sapla, .belly {
  margin-left: 146px;
  position: relative;
  background-size: cover;
  background-position: center;
  color: white;
  padding: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
  overflow: hidden;
}
.golap{
width: 400px;
}
.sapla{
width: 400px;
}
.belly{
  width: 1100px;
}
.golap::before, .sapla::before, .belly::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4); /* adjust darkness here */
  z-index: 1;
}

.golap h2, .golap h3,
.sapla h2, .sapla h3,
.belly h2, .belly h3 {
  position: relative;
  z-index: 2;
  margin: 0;
}

.golap {
  background-image: url("./f1.png");
  height: 220px;
}

.sapla {
  background-image: url("./f2.png");
  height: 220px;
  margin-top: 20px;
}

.belly {
  background-image: url("./f3.png");
  height: 460px;
  margin-left: 20px;
}

.form-image{
  background-image: url("news-letter-bg.png");
  background-position: center;
  background-size: cover;
  padding: 200px;
  justify-items: center;
  color: white;
  margin-bottom: 20px;
  margin-top: 100px;
}
.email-box{
  padding-right: 300px;
  padding-left: 15px;
padding-top: 15px;
padding-bottom: 15px;

}
.btn-sub{
  padding: 16px  90px;
  border-style: none;
  color: white;
  background-color: #e95a08;
  margin-left: -10px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0 solid;
}

footer{
margin-left: 10%;
margin-right: 15%;

display: flex;
gap: 150px;
justify-content: space-between;
}
.footer-link{
padding: 35px;
justify-content: center;

}

.footer-link a{
  text-decoration: none;
  color: #252525;
  padding-bottom: 32px;
}
.footer-link ul{
  list-style: none;
  margin-bottom: 20px;
}

.footer2-link{
padding: 35px;
justify-content: center;

}

.footer2-link a{
  text-decoration: none;
  color: #252525;
  padding-bottom: 32px;
}
.footer2-link ul{
  list-style: none;
  margin-bottom: 20px;
}

.logos {
display: flex;
gap: 15px;
margin-top: 60px;
}
.logos img{
width: 30px;
height: 30px;
}

.name-nai{
  margin-top: 50px;
}
.footer2-link{
  margin-left: -300px;
}
.mobile-header {
      display: none;
    }


/* responsive jinish pati */
@media screen and (max-width: 576px) {
.navbar{
display: none;
}
.container img{
max-width: 100%;.
 height: auto;
 display: block; 
}
 .mobile-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px -5px;
        background-color: ##F5F8FF;
        font-family: sans-serif;
      }
      .logo{
        margin-left: 10px;
      }
      .cart{
        margin-right: 10px;
      }
      .hero-image{
        width: 100%;
        margin-top: 30px;
      }
      .title{
        font-size: 25px;
        margin-top: 20px;
      }
      .description{
        font-size: 10px ;
      }
      .container{
        flex-direction: column-reverse;
      }
      .h{
        font-size: 25px;
      }
      .p{
        font-size: 10px;
        margin-bottom: 40px;
      }
      .grid-product{
        grid-template-columns: repeat(2,1fr);
        gap: 5px;
      }
      .product-card{
        padding: 10px;
        font-size: 14px;
text-align: center;
        
      }
      .product-card img{
        width: 100%;
        height: auto;
      }
      .Lily{
        font-size: 18px;
      }
      .USD{
        font-size: 15px;
      }
      .btn-primary{
padding-left: 50px;
padding-right: 50px;
      }
      .trust{
        display: none;
      }
      .main-love{
        flex-direction: column;
      }
      .main-love img{
        width: 100%;
        height: auto;
        padding: 10px;
      }
      .flower{
        font-size: 25px;
        padding: 10px;
      }
      .flower br{
        display: none;
      }
      .class-nai li{
        padding: 10px;
        font-size: 15px;
      }
      .Latest h1{
        font-size: 25px;
      }
      .Latest p{
        font-size: 15px;
        padding: 10px;
      }
.display-flex{
  flex-direction: column;
  align-items: center;
}
.belly{
  /* width: 300px; */
  height: 220px;
  
  
}
.golap, .sapla, .belly {
margin-left: 0px;
margin: 10px;
width: 300px;
height: 150px;
}
.golap h2,
.sapla h2,
.belly h2{
  font-size: 20px;
}

.form-image{
  width: 100%;
  height: auto;
  padding: 50px;
  display: block;
}
.form-image h1{
  font-size: 25px;
}
.email-box{
  padding: 10px;
    font-size: 10px;
}
.btn-sub{
  padding: 10px;
}

.email-box-btn{
  display: flex;
  padding: 10px;
}

footer{
  flex-direction: column;
  padding: 20px;
  margin-left: 0px;
  margin-right: 0px;
  gap: 0px;
  
}
.footer2-link{
  margin-left: 0px;
  padding: 0px;
}
.name-nai{
  margin-top: 0px;
}
.footer-link{
  padding: 0px;
}

.logos img{
  width: 40px;
  height: 40px;

}




}
